<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="/">Simplex</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li {% ifequal menu "simplex" %} class="active"{% endifequal %}>
                <a href="#">Simplex</a>
            </li>
            <li {% ifequal menu "knapsack" %} class="active"{% endifequal %}>
                <a href="{% url 'knapsack' %}">Knapsack</a>
            </li>
        </ul>
    </div>

</nav>